OPENROUTER_API_KEY=key
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1/chat/completions


# Server Configuration
DEBUG=False
API_V1_PREFIX=/api/v1 
LOG_DIR=logs
ANALYTICS_CSV_PATH=analytics/inference_analytics.csv